<h1>Todo List</h1>
<ul id="todos">

</ul>

<h3>Add a New Todo to Your List</h3>
<form id="newTodoForm">
  <input type="text" id="titleInput" name="todo[title]" placeholder="Title...">
  <input type="submit" value="Add Todo!">
</form>
