.red {
  color: red;
}

.green {
  color: green;
}

.currency-selector {
  display: inline-block;
}

.currency-option {
  float: right;
  padding-left: 5px;
}

.rates-list {
  padding-top: 10px;
}

.currency-box {
  float: left;
  display: inline-block;
  padding: 10px;
}
